<div class="container">
  <form class="example-form">
        <mat-form-field class="example-half-width">
          <input required [(ngModel)]= "username" class="center" matInput placeholder="GitHub Account" name="inp" value="">
          
        </mat-form-field>
      </form>
      <button mat-button class="purple" (click)="showUser(username)">Show user</button>
</div>

<div class="user-container">


      <mat-card *ngIf="user" class="size-card" class="example-card">
        <div class="left">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image padding-0-15">
                    <img mat-card-image src={{user.avatar_url}} alt="Photo of a user">
                </div>
                <mat-card-title>{{ user.login }}</mat-card-title>
                <mat-card-subtitle><a href="">{{ user.html_url }}</a></mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                Name : {{user.name}}<br>
                Followers: {{user.followers}}<br>
                Following: {{user.following}}
              </mat-card-content>
              <mat-card-actions>
                <button class="ban" mat-button>BAN</button>
              </mat-card-actions>
        </div>
        <div class="right">
              <table mat-table [dataSource]="repos" class="mat-elevation-z8">
                  <!-- Item Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let repo"> {{repo.name}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef> Link </th>
                    <td mat-cell *matCellDef="let repo"><a href="">{{repo.html_url}}</a></td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
      </mat-card>
        
    


</div>