.container {
  border: 1px solid #673AB7;
  width: 300px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  height: 45px;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
  top: 200px;
}

button {
  width: 80px;
}

.purple:hover {
  background-color: #673AB7;
  /* color: white; */
  transition: 1.5s;
}

.purple {
  background-color: rgb(147, 132, 173);
  width: 100px;
  transition: 1s linear;
  color: white;
}